<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit user password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/form.css">
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <form class="form-signin" method="POST" th:action="@{/editUserPassword}" th:object="${editUserPasswordForm}">

        <h2 class="form-signin-heading">Edit user password form</h2>

        <div th:if="${error}" class="alert alert-danger" role="alert">[[${error}]]</div>

        <div class="form-group">
            <label for="inputOldPassword">Old password</label>
            <input type="password" id="inputOldPassword" th:field="*{passwordOld}" class="form-control"
                   placeholder="Old Password"
                   required>
            <span th:if="${#fields.hasErrors('passwordOld')}" th:errors="*{passwordOld}">Password Error</span>
        </div>

        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" th:field="*{password}" class="form-control" placeholder="Password"
                   required>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
        </div>

        <div class="form-group">
            <label for="inputPasswordRepeat">Repeat password</label>
            <input type="password" id="inputPasswordRepeat" th:field="*{passwordRepeat}" class="form-control"
                   placeholder="Password"
                   required>
            <span th:if="${#fields.hasErrors('passwordRepeat')}" th:errors="*{passwordRepeat}">Repeat password Error</span>
        </div>

        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
        <br>
        <a class="btn btn-lg btn-primary btn-block" href="/settings">Cancel</a>
    </form>
</div>

</body>
</html>