<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forgot password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/form.css">
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <form method="POST" th:action="@{/forgotPassword}" th:object="${forgotPasswordForm}">
        <h2 class="form-signin-heading">Password will be send on e-mail</h2>

        <div th:if="${error}" class="alert alert-danger" role="alert">[[${error}]]</div>

        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="text" id="inputEmail" th:field="*{email}" class="form-control" placeholder="Email address"
                   required
                   autofocus>
            <span class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
        <br>
        <a class="btn btn-lg btn-primary btn-block" href="/login">Cancel</a>
    </form>
</div>

</body>
</html>