<!DOCTYPE HTML>
<html>
<head>
    <title>Forgot password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <form method="POST" action="/forgotPassword">
        <h2 class="form-signin-heading">Password will be send on e-mail</h2>
        <label for="inputEmail">Email address</label>
        <input type="text" id="inputEmail" name="email" class="form-control" placeholder="Email address" required
               autofocus>
        <br><br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
    </form>
</div>

</body>
</html>