<!DOCTYPE HTML>
<html>
<head>
    <title>Home Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="text-center">
        <br>
        <h2>Hello, [[${name}]]!</h2>
        <br>
        <a class="btn btn-primary" href="/history" role="button">History</a>
        <a class="btn btn-primary" href="/insert" role="button">Insert data</a>
        <a class="btn btn-primary" href="/settings" role="button">Settings</a>
        <a class="btn btn-primary" href="/logout" role="button">Logout</a>
    </div>
</div>

</body>
</html>